.utmp/
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

*.log
/MemoryCaptures/
/Recordings/
/Assets/AssetStoreTools*
/Assets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties
/Assets/AddressableAssetsData/*/*.bin*
/Assets/StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/*
